# Игнорируем все файлы в корне проекта
/*

# Добавляем только необходимые файлы
!README*
!LICEN[S/C]E*

!.gitignore
!.gitmodules
!.gitattributes

!CMakeLists.txt

# Добавляем только необходимые директории
!/.github/
!/cmake/
!/core/
!/dhcp/
!/frontend/
