# Игнорируем все файлы в корне компонента
/*

# Добавляем только необходимые файлы
!README*
!LICEN[S/C]E*

!.gitignore

!CMakeLists.txt
!backup.CMakeLists.txt

# Добавляем только необходимые директории
!/src/
!/tests/
